<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Document</title>
    <style>
        #lorem   {
            color : red;

        }
        #loremo  {
            color : blue 
        }
    </style>
</head>

<body>
    <h1>helloooo</h1>
    <h2>hello</h2>
    <h3>hello</h3>
    <h4>hello</h4>
    <p>Lorem ipsum dolor sit <br> amet consectetur adipisicing.</p>
    <img src="https://images.unsplash.com/photo-1720766255393-60ca5199def4?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt=""> <br>
    <img src="https://img.freepik.com/free-photo/studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product_1258-54682.jpg?size=338&ext=jpg&ga=GA1.1.2008272138.1720828800&semt=ais_user"
        alt=""> <br>

    <a href="https://www.google.com">Download Now</a> <br>
    <p id = "lorem">Lorem ipsum dolor sit amet.</p> 
    <p id = "loremo">Lorem ipsum dolor sit amet consectetur.</p>





</body>

</html>