<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>
<body>
    <div class="w-screen h-screen bg-black flex justify-center items-center">
        <p class="font-bold text-white text-3xl"><%=userName%> not found</p>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>